@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

@import 'mixin';
@import 'navbar';
@import 'card-index';
@import 'cards-admin';
@import 'parallax';
@import 'poc';

html {
  cursor : url(/IMG/laptop.png);
}

body {
  background-color: #d7e3fc;
  text-align: center;
}

h1, h2, h3, h4, a {
  font-family: 'Roboto Slab', serif;
}



/* INDEX */

/* CARDS */

.card-index {
  display: flex;

  .marg{
    margin: 1rem;
  }
}

.about {

  img{
    width:60%;
  }
}

/* LIST TO */

/* CARDS */

.listTo {
  width: 60rem;
  display: flex;
  align-items: center;
  text-align: center;
}