@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

@import 'mixin';
@import 'navbar';
@import 'card-index';
@import 'cards-admin';
@import 'poc';

html {
  cursor : url(/IMG/laptop.png);
}

body {
  background-color: #fad8ae;
  text-align: center;
}

h1, h2, h3, h4, a {
  font-family: 'Roboto Slab', serif;
}

h1 {
  padding: 1rem;
}

/***************** INDEX **************/

/* CARDS */

.card-index {
  display: flex;

  .marg{
    margin: 1rem;
  }
}

.about {

  img{
    width:60%;
  }
}

/* MAIN PAGE */

main { 
  position: relative; z-index: 1;
  padding: 2em 1em 4em;
  max-width: 580px;
  margin: 0 auto;
}


/************ LIST TO *****************/

/* CARDS */

.listTo {
  width: 60rem;
  display: flex;
  align-items: center;
  text-align: center;
}

/**************** BACK TO TOP BTN *************/

.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
}